body {
  background-image: url(image.png); /*背景画像*/
  background-attachment: fixed;/*背景の固定*/
  background-size: cover;/*画像のサイズ*/
  background-repeat: no-repeat;/*繰り返し設定*/
  background-position: top center;/*画像の位置*/
}

h1{/*ゲームの題名*/
    color: rgb(189, 85, 11);

}